* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    image-rendering: pixelated;
}

body {
    background-color: black;
}

.game {
    background-image: url('../img/pf.png');
    background-size: cover;
    width: 640px;
    height: 384px;
    position: relative;
}

#board {
    position: relative;
    left: calc(16 * 17px);
    top: calc(16 * 6px);
}

.preview_pill,
.pill,
.square {
    position: absolute;
    width: 16px;
    height: 16px;
    // border: 1px solid white;
    background-size: cover;
    background-color: black;
}

.virus {
    position: absolute;
    width: 40px;
    height: 30px;
    background-size: cover;
    background-color: black;
}

#red_virus {
    background-image: url('../img/magnifying_glass/red/1.png');
}

#blue_virus {
    background-image: url('../img/magnifying_glass/blue/1.png');
}

#yellow_virus {
    background-image: url('../img/magnifying_glass/yellow/1.png');
}

.stage_completed {
    position: absolute;
    width: 400px;
    height: 100px;
    top: 142px;
    left: 120px;
    background-image: url("../img/stage_completed.png");
    background-size: cover;
}

.game_over {
    position: absolute;
    width: 400px;
    height: 100px;
    top: 142px;
    left: 120px;
    background-image: url("../img/game_over.png");
    background-size: cover;
}

#doctor {
    position: absolute;
    width: calc(7 * 16px);
    height: calc(6.4 * 16px);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-size: contain;
    top: calc(3.75 * 16px);
    left: calc(30 * 16px);
    background-image: url('../img/doctor/doctor_keep.png');
}

.score {
    height: calc(1 * 16px);
    width: calc(7 * 16px);
    display: flex;
    flex-direction: row;
    position: absolute;
    top: calc(8 * 16px);
    left: calc(5 * 16px);
    background-color: black;
}

.highScore {
    height: calc(1 * 16px);
    width: calc(7 * 16px);
    display: flex;
    flex-direction: row;
    position: absolute;
    top: calc(5 * 16px);
    left: calc(5 * 16px);
    background-color: black;
}

.digit {
    height: calc(1 * 16px);
    width: calc(1 * 16px);
    background-size: cover;
    background-color: black;
}

#countOfViruses {
    height: calc(1 * 16px);
    width: calc(2 * 16px);
    display: flex;
    flex-direction: row;
    position: absolute;
    top: calc(21 * 16px);
    left: calc(35 * 16px);
    background-color: black;
}